<%= form_for(@user) do |f| %>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>  
  </p>
  <%= f.submit %>
<% end %>




<!-- <form>
  <p>
    <label>Email:</label>
    <input></input>
  </p>

  <fieldset>
    <legend>Home Address</legend>
    <p>
      <label>Street:</label>
      <input type="text" name="">
    </p>
    <p>
      <label>Cross Street:</label>
      <input type="text" name="">
    </p>
  </fieldset>

  <fieldset>
    <legend>Work Address</legend>
    <p>
      <label>Street:</label>
      <input type="text" name="">
    </p>
    <p>
      <label>Cross Street:</label>
      <input type="text" name="">
    </p>
  </fieldset>

  <fieldset>
    <legend>Existing Team</legend>
    <p>
      <label>Enter Team Name:</label>
      <input type="text" name="">
    </p>
  </fieldset>

  <fieldset>
    <legend>Create a Team</legend>
    <p>
      <label>Team Name:</label>
      <input type="text" name="">
    </p>
    <p>
      <label>Hometown:</label>
      <input type="text" name="">
    </p>
  </fieldset>
  <input type="submit">
</form> -->
